@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
  --background-start-rgb: 245, 245, 247;
  --background-end-rgb: 245, 245, 247;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f5f5f7; /* Enforce paper background */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
